{% extends 'shared/base.html' %}
{% load bootstrap %}

{% block site_header %}
    <title>ArtBox | Edit</title>
{% endblock %}

{% block site_content %}
    <h1 style="text-align:center;">Edit Artwork</h1>
    <form class="col-lg-6 offset-lg-3" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.name|bootstrap }}
        {{ form.artist|bootstrap }}
        {{ form.type|bootstrap }}
        <div style="text-align:center;">
            <input type="submit" value="Edit" class="btn btn-primary mt-3">
        </div>
    </form>
{% endblock %}