{% extends 'shared/base.html' %}

{% block site_header %}
    <title>ArtBox | Gallery</title>
{% endblock %}

{% block site_content %}
    <h1 class="text-center">Gallery</h1>
    <div class="container">
        {% for art in artwork %}
            <div class="d-flex flex-column">
                <div class="card m-3" style="width:auto; padding: 1rem">
                    <img src="{{ art.image.url }}" class="card-img top">
                    <h4 class="text-center">Art name: <a style="color: royalblue;">{{ art.name }}</a></h4>
                    <h4 class="text-center">Artist: <a style="color: royalblue;">{{ art.artist }}</a></h4>
                    <h4 class="text-center">Category: <a style="color: royalblue;">{{ art.type }}</a></h4>
                    <div class="text-center">
                        {% if user.userprofile.id == art.user.id or is_admin %}
                        <a class="btn btn-danger" href="{% url 'delete art' art.id %}">Delete</a>
                        {% endif %}
                        {% if user.userprofile.id == art.user.id %}
                        <a class="btn btn-success" href="{% url 'edit art' art.id %}">Edit</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}