{% extends 'shared/base.html' %}
{% load static %}

{% block site_header %}
    <title>ArtBox | Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block site_content %}
    <div class="py-5 bg-image-full"
         style="background: url('/static/img/brush.jpg'); border: 5px solid rgba(127,11,11, 0.7); margin: 20px 20px 20px 20px;">
        <div style="height: 400px;">
        </div>
    </div>
    <div class="container">
    <div class="about-us">
        <h1>About Us</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Sed porttitor lectus nibh. Mauris
            blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget felis porttitor
            volutpat.
            Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla quis lorem ut libero malesuada
            feugiat. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Quisque velit nisi, pretium ut
            lacinia in, elementum id enim.</p>
        <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Sed porttitor lectus nibh. Mauris
            blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget felis porttitor
            volutpat.
            Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla quis lorem ut libero malesuada
            feugiat. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Quisque velit nisi, pretium ut
            lacinia in, elementum id enim.</p>
        <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Sed porttitor lectus nibh. Mauris
            blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget felis porttitor
            volutpat.
            Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla quis lorem ut libero malesuada
            feugiat. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Quisque velit nisi, pretium ut
            lacinia in, elementum id enim.</p>
    </div>
    <div class="contacts" style="display:block;">
        <h1>Contact Us</h1>
        <div class="row">
            <div class="col">
                <div class="info-card" style="border:5px solid rgba(127,11,11,0.7)">
                    <h3>Contact Information</h3>
                    <p>360 King Street</p>
                    <p>7021 TX USA</p>
                    <br>
                    <h3>Email</h3>
                    <p>ArtBoxSupport@artbox.com</p>
                    <br>
                    <h3>Phone</h3>
                    <p>+33619530144</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block navbar-signup-signin %}
    <li class="nav-item">
        <a class="nav-link" href="#">Sign In</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Sign Out</a>
    </li>
{% endblock %}