{% extends 'shared/base.html' %}
{% load bootstrap %}

{% block site_content %}
    <h1 style="text-align:center;">Register Page</h1>
    <form class="col-lg-6 offset-lg-3" method="post" enctype="multipart/form-data">
        {% csrf_token %}
{#        {{ form.username|bootstrap }}#}
{#        {{ form.email|bootstrap }}#}
{#        {{ form.password|bootstrap }}#}
        {{ form|bootstrap_horizontal:'col-sm-0' }}
        <div style="text-align:center;">
            <input type="submit" value="Register" class="btn btn-primary mt-3">
            <br>
            Already have an account? <a href="{% url 'login' %}">Login</a>
            <br>
        </div>
    </form>
{% endblock %}